<div class="page-header">
    <div class="date-controls">
        <h3><%= title %></h3>
    </div>
    <a id="yesterday" href=""><i id="yesterday" class="icon-arrow-left pull-left"></i></a>
    <a id="tomorrow" href=""><i id="tomorrow" class="icon-arrow-right pull-right"></i></a>
</div>  

<div id="events">

    <!-- le events -->

</div>







