<div class="hero-unit">
    <h1>Welcome to yetoto.</h1>
	<% if (!user) { %>
		<p>Login for more...</p>
	<% } else { %>
		<p>Hello, <%= user.firstname %> <%= user.lastname %>.</p>
	<% } %>
</div>

<div class="well">
  <a href="/auth/facebook"><img src="/img/fb-login-button.png"></a>
</div>