<div class="well">

    <form action="/calendars" method="post" enctype="multipart/form-data">
    	  <strong>Title:</strong> <input type="text" name="title" value="" /> <br/>

      	<strong>Image:</strong> <input type="file" name="image" /> <br/>

        <input type="submit" value="CREATE Calendar"/>
    </form>

</div>

<div class="well">

      
	
</div>