<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link rel="stylesheet" href="styles/main.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body style="padding-top: 60px; padding-bottom: 40px;">

  <!-- NavBar -->
  <div id="navBar" class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">yetoto.</a>
          <div class="nav-collapse pull-right">
              <ul class="nav">
                  <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                          <i class="icon-user icon-white"></i>
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="/">Profile</a></li>
                          <li class="divider"></li>
                          <li><a href="/logout">Sign Out</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
          <form id="search-form" class="navbar-search pull-right dropdown">
              <input type="text" class="search-query dropdown-toggle" placeholder="Search" data-bind="value: searchTerm, valueUpdate: 'keyup'">
              <ul class="dropdown-menu" style="padding: 10px 10px 5px 10px;" data-bind="foreach: searchResults">
                <li style="margin-bottom: 5px;">
                  <a href="" data-bind="click: $root.goToCalendar">
                    <img data-bind="attr: { src: picture }" style="width: 50px; height: 50px; margin-right: 10px;">
                    <span data-bind="text: title"></span>
                  </a>
                </li>
              </ul>
          </form>
      </div>
    </div>
  </div>

  <div id="main" class="container">

    <!-- ActionBar -->
    <div id="actionBar" style="padding-bottom: 100px;">
          <li class="dropdown" style="float: left; list-style: none;">
                <a href="#" data-bind='click: $root.goToNewCalendar'>
                    <button class="btn btn-info" style="height: 80px;  width: 32px;">
                        <i class="icon-plus icon-white"></i>
                    </button>
                </a>
            </li>
        <ol class="unstyled" data-bind="foreach: calendars" >
            
            <li class="dropdown" id="calendars" style= "float: left; margin-left: 5px;">
                <button class="dropdown-toggle thumbnail" data-toggle="dropdown">
                    <img data-bind="attr: { src: picture }" style="width: 70px; height: 70px;">
                </button>
                <ul class="dropdown-menu">
                    <li><a href="" data-bind="click: $root.goToCalendar"><i class="icon-info-sign"></i> <span data-bind="text: title"></span></a></li>
                    <li data-bind="visible: isOwner"><a href="#" class="addEvent" data-bind ="click: $root.goToNewEvent"><i class="icon-comment"></i> Add Event</a></li>
                    <li class="divider"></li>
                    <li data-bind="visible: !isHidden()"><a href="#" data-bind="click: $root.hideCalendar"><i class="icon-eye-close"></i> Hide</a></li>
                    <li data-bind="visible: isHidden()"><a href="#" data-bind="click: $root.unhideCalendar"><i class="icon-eye-open"></i> Show</a></li>
                    <li class="divider"></li>                    
                    <li data-bind="visible: !isOwner()"><a href="#" data-bind="click: $root.unsubscribeCalendar"><i class="icon-minus"></i> Unsubscribe</a></li>
                    <li data-bind="visible: isOwner()"><a href="#"  data-bind="click: $root.deleteCalendar"><i class="icon-minus"></i> Delete Calendar</a></li> 
                </ul>
            </li>
        </ol>
    </div>    
    
    <!-- Day View Information -->
    <div id="dayview-information">

      <button class="btn pull-left" data-bind="click: goToYesterday"><i class="icon-circle-arrow-left"></i> </button>
      <button class="btn pull-right" data-bind="click: goToTomorrow"> <i class="icon-circle-arrow-right"></i></button>
      
      <div class="date-controls">
        <h3 data-bind="text: shownDayFormatted"></h3>
      </div>

    </div>

    <!-- Events -->
    <div id="events" data-bind="foreach: events()[shownDayFormatted()]">
      <div class="event" data-bind="visible: !isHidden()">
        <a href="" data-bind="click: $root.goToEvent"><span class="fulllink"></span></a>
        <img data-bind="attr: { src: _calendar.picture }" style="width: 50px; height: 50px;">
        <span class="time" data-bind="text: startTime"></span>
        <div class="controls">
          <!-- controls -->
        </div>
        <div class="headline">
          <h3 data-bind="text: title"></h3>
        </div>
      </div>
    </div>
   
  </div>

  <!-- Modal Show Event -->
  <div id="ShowEventModal" class="modal fade hide" data-bind="with: chosenEventContainer">
    <div class="modal-header" >
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h3 data-bind="text: title"><!-- le title --></h3>
    </div>
    <div class="modal-body">
      <p  data-bind="text: content"><!-- le content --></p> 
    </div>
    <div class="modal-footer">
      <button class="btn" data-bind="click: $root.deleteEvent">Delete Event</button>
    </div>
  </div>

  <!-- Modal Show Calendar -->
  <div id="ShowCalendarModal" class="modal fade hide" data-bind="with: chosenCalendarContainer">
    <div class="modal-header" >
      <button type="button" class="close" data-dismiss="modal">×</button>
      <div class="pull-left" style="margin-right: 10px;">
        <img data-bind="attr: { src: picture }" class="pull-left" style="width: 50px; height: 50px;">
      </div>
      <h3 data-bind="text: title"><!-- le title --></h3>
      <p data-bind="text: description"></p>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">

      <button class="btn pull-right" data-bind="click: $root.subscribeCalendar">Subscribe</button>
      <button class="btn pull-right" data-bind="{visible: isOwner, click: $root.goToEditCalendar}">Edit</button>

    </div>
  </div>

  <!-- Modal New Event -->
  <div id="NewEventModal" class="modal fade hide" data-bind="with: newEventContainer">
    <div class="modal-header" >
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h2>Create New Event</h2>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label">Title</label>
        <div class="controls">
          <input type="text" placeholder="What is going to happen..." data-bind="value: title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">From</label>
        <div class="controls">
          <input type="text" placeholder="Starts at..." class="span2 init-timepicker" data-bind="value: inputStartTime">
          <input type="text" placeholder="Le date" class="span2 init-datepicker" data-bind="value: inputStartDate" >
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Until</label>
        <div class="controls">
          <input type="text" placeholder="Ends at..." class="span2 init-timepicker" data-bind="value: inputEndTime">
          <input type="text" placeholder="Le date" class="span2 init-datepicker" data-bind="value: inputEndDate">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <textarea type="text" placeholder="Additional Information..." class="span5" data-bind="value: content"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Location</label>
        <div class="controls">
          <input type="text" placeholder="Where it will happen..." data-bind="value: location">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-bind="click: $root.addEvent">Save Event</button>
    </div>
  </div>

  <!-- Modal New Calendar -->
  <div id="NewCalendarModal" class="modal fade hide" data-bind="with: newCalendarContainer">
    <div class="modal-header" >
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h2>Create New Yetoto</h2>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label">Title of your new yetoto</label>
        <div class="controls">
          <input type="text" placeholder="Title..." data-bind="value: title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <textarea type="text" placeholder="What kind of events will you share in your yetoto?" class="span5" data-bind="value: description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Image</label>
        <div class="controls">
          
          <a href="#" id="fileSelect">
            <i class="icon-pencil" id="imageupload" width="14" height="14" style="background-color: white; opacity: 0.5; margin: 56px 0px 0px -14px; position: absolute; z-index: 1090;"></i>
            <img src="/img/photo.jpg" id="newCalendarPhoto" class="pull-left" style="width: 70px; height: 70px; z-index:1080">
          </a>
          <input type="file" id="fileElem" accept="image/*" style="display:none" onchange="handleImage(this.files, 'newCalendarPhoto')">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn" data-bind="click: $root.addCalendar">Create new yetoto</button>
    </div>
  </div>


<!-- Modal Update Calendar -->
  <div id="UpdateCalendarModal" class="modal fade hide" data-bind="with: newCalendarContainer">
    <div class="modal-header" >
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h2>Edit Yetoto</h2>
    </div>
    <div class="modal-body">
      <div class="control-group">
        <label class="control-label">Title of your new yetoto</label>
        <div class="controls">
          <input type="text" placeholder="Title..." data-bind="value: title">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Description</label>
        <div class="controls">
          <textarea type="text" placeholder="What kind of events will you share in your yetoto?" class="span5" data-bind="value: description"></textarea>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Image</label>
        <div class="controls">
          
          <a href="#" id="fileSelectUpdate">
            <i class="icon-pencil" width="14" height="14" style="background-color: white; opacity: 0.5; margin: 56px 0px 0px -14px; position: absolute; z-index: 1090;"></i>

            <img id="updateCalendarPhoto" data-bind="attr: { src: picture }" class="pull-left" style="width: 70px; height: 70px; z-index:1080">
          </a>
          
          <input type="file" id="fileElemUpdate" accept="image/*" style="display:none" onchange="handleImage(this.files, 'updateCalendarPhoto')">
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn" data-bind="click: $root.updateCalendar">Save yetoto</button>
    </div>
  </div>

  <!-- developer box -->

  <button id="developer-button" class="btn">DEV</button>



  <div id="developer-box" class="hide">
    <h3>Developer Area</h3>

    <div class="span5">
      <label>Events Array:</label>
      <textarea style="width:350px; height:180px;" data-bind="text: ko.toJSON(events)" ></textarea>
    </div>

    <div class="span5" style="margin-left: 10px;">
      <label>Search Results Array:</label>
      <textarea style="width:350px; height:180px;" data-bind="text: ko.toJSON(searchResults)" ></textarea>
    </div>

    <div class="span5" style="margin-left: 10px;">
      <label>Chosen Event Container:</label>
      <textarea style="width:350px; height:80px;" data-bind="text: ko.toJSON(chosenEventContainer)"></textarea>
      <br>
      <label>Chosen Calendar Container:</label>
      <textarea style="width:350px; height:80px;" data-bind="text: ko.toJSON(chosenCalendarContainer)"></textarea>
    </div>

  </div>



  <!-- le javascript -->
  <!-- The missing protocol means that it will match the current protocol, either http or https. If running locally, we use the local jQuery. -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.7.2.min.js"><\/script>')</script>
  <script src="js/libs/json2.js"></script>
  <script src="js/libs/moment.min.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
  <script src='js/libs/knockout-2.1.0.js'></script>


  <!--<script src='js/libs/bootstrap-datepicker.js'></script>-->
  <script src='js/libs/jquery.timepicker.min.js'></script>
  <script src="js/libs/jquery-ui-1.9.0.datepicker.js"></script>

  <script src="js/client.js"></script>


  <script type="text/javascript">
    $(document).ready(function(){

      $('#developer-box').hide();

      $('#developer-button').click(function(){
        $('#developer-box').toggle();
      });
    });
  </script>

</body>
</html>
